@media screen and (max-width: 992px) {
    body {   
        margin: 0;
        min-width: 768px;
    }
    .container {
        height: 100%;
    }    
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .site-link {
        grid-column: 1 / span 1;
        padding-left: 10%;
        justify-content: space-between;
    }
    .nav-links {
        grid-column: 2 / span 3;
        padding-left: 5%;
        justify-content: space-around;
    }
}