/* Variables */

:root {
  --black: #080925;
  --white: #ffffff;
  --footer-white: #fefcfe;
  --purple: #9a4d9f;
  --title-font: 32px;
  --medium-font: 24px;
  --small-font: 12px;
}

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

a {
  color: var(--white);
}

body {
  background-color: var(--purple);
  font-family: "Montserrat", "Lato", sans-serif;
  color: var(--black);
}

section {
  width: 100%;
}

/* Re-usable classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}
.light {
  font-weight: 200;
}
/* Element Styling */
nav {
  color: var(--white);
  height: 70px;
  justify-content: space-between;
}
nav > * {
  z-index: 2;
}

nav span {
  color: var(--purple);
}

nav img {
  transform: scale(0.8);
  margin-right: 5%;
}
.nav__left {
  background-color: var(--black);
  align-items: center;
  font-size: 20px;
  margin-left: 3%;
}
.nav__right {
  font-size: var(--small-font);
  width: 40%;
  margin-right: 2%;
}

.nav__burger {
  display: none;
  cursor: pointer;
}
#create {
  padding: 8px 10px;
  border: 2px solid var(--white);
  border-radius: 3%;
}

.hero {
  min-height: 600px;
}

.hero__left {
  width: 60%;
}

.hero__left img {
  height: 100%;
  width: 100%;
  transform: translateY(-70px);
}

.hero__right {
  flex-direction: column;
  width: 40%;
  height: 80%;
  margin-top: 120px;
}

.hero__date {
  padding: 7px 18px;
  background-color: #b983bc;
  border-radius: 10px;
  color: var(--white);
  margin-bottom: 30px;
}

#day {
  font-size: 39px;
}
#month {
  font-size: 16px;
}

.hero__info {
  align-items: center;
}

.hero__info > * {
  margin-bottom: 30px;
}

.title {
  font-size: var(--title-font);
}

.description {
  font-size: var(--medium-font);
  color: var(--white);
}

.buy-btn {
  margin-top: 60px;
  color: var(--white);
  background-color: var(--black);
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
}

.location {
  width: 100%;
  justify-content: center;
}
.location img {
  margin-right: 3%;
}

.details {
  margin: 50px 0;
  font-size: var(--medium-font);
  justify-content: space-around;
}

.details__block {
  width: 25%;
}

.details__block > * {
  margin-bottom: 20px;
}

.details__icon {
  height: 70px;
  width: 70px;
}

.map {
  height: 500px;
  background-image: url(map.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.map__location {
  position: relative;
  left: 280px;
  top: 40%;
  height: fit-content;
  height: -moz-max-content;
}

.map__location img {
  display: block;
}
.map__bubble {
  position: relative;
  padding-left: 30px;
}
.map__text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 18px;
  color: var(--purple);
}

footer {
  height: 50px;
  background-color: var(--black);
  color: var(--footer-white);
  justify-content: space-between;
  font-size: 10px;
  font-family: "Lato";
}

.footer__right {
  width: 12%;
  justify-content: space-between;
  padding-right: 3%;
}

.footer__left {
  padding-left: 3%;
}

.footer__left span {
  color: var(--purple);
}

@media screen and (max-width: 1024px) {
  .nav__right {
    width: 70%;
  }
  .hero {
    flex-direction: column;
  }
  .hero__left,
  .hero__right {
    width: 100%;
  }
  .hero__right {
    margin-top: 20px;
    padding-left: 7%;
    flex-direction: row;
    align-items: flex-start;
  }
  .hero__date {
    margin-right: 5%;
  }
  #day {
    font-size: 65px;
  }
  #month {
    font-size: 25px;
  }
  .hero__info {
    align-items: flex-start;
  }
  .location {
    justify-content: flex-start;
  }
  .buy-btn {
    margin-top: 10px;
    padding: 18px 80px;
  }
  .details {
    flex-direction: column;
    align-items: center;
  }
  .details__block {
    width: 50%;
    margin-bottom: 30px;
  }
  .map {
    background-image: url(map-tablet.png);
  }
  .map__location {
    left: 220px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    width: 66%;
  }
  .nav__right {
    display: none;
  }
  .nav__burger {
    display: block;
    margin-left: 5%;
  }
  .hero__right {
    margin-top: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .hero__info {
    align-items: center;
  }
  .hero__date {
    margin-right: 0;
  }
  .location {
    justify-content: center;
  }
  .details__block {
    width: 80%;
  }
  .map {
    background-image: url(map-phone.png);
  }
  .map__location {
    left: 15%;
  }
  .footer__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__right {
    width: 20%;
  }
}
