/******
COMMON HEX COLORS

Black: #080925;
White: #FFFFFF;
Footer White: #FEFCFE;
Purple: #9A4D9F;

*******/

body {   
    font-family: 'Montserrat', 'Lato', sans-serif;
    margin: 0;
    background-color: #9A4D9F;
}


/*Nav stylings */

nav {
    display: grid;
	grid-template-columns: 1fr 1fr;
    min-height: 80px;
}

.site-link {
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 5%;
}


.site {
    display: inline;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo {
    height: 45px;
    margin-right: 10px;
}
.net {
    color: #9A4D9F;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 5%;
}

li {
    display: inline;
}

.link {
    z-index: 2;
    position: relative;
}

.link a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#create-btn {
    padding: 10px 12px;
    border: 2px solid #FFF;
    border-radius: 5px;
}

/*****Hero Section stylings*****/


.hero {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: 600px;
}

.hero-image {
    position: relative;
}

.fish {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -80px;
    min-width: 100%;
    min-height: 100%;
}

.hero-description {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.date {
    background-color: #B983BC;
    margin-top: 40px;
    padding: 7px 18px;
    color: #FFF;
    font-weight: 300;
    border-radius: 10px;
}

.date > * {
    margin: 0;
    text-align: center;
}

#day {
    font-size: 39px;
    font-weight: 400;
}

#month {
    font-size: 16px;
}


h2 {
    text-transform: uppercase;
    color: #080A21;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 25px;
    margin-bottom: 0;
}

#slogan {
    color: #FFF;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: .5px;      
}

.hero-location {
    display: flex;
    margin-bottom: 50px;
}

.istanbul {
    display: inline;
    color: #080925;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}

#tix-btn {
    color: #FFF;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #080925;
    padding: 10px 40px;
    border-radius: 25px;
}


/*****Column section*****/

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7%;    
    margin: 0 7%;
    min-height: 300px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.big-icons {
    min-height: 80px;
}

.col-text{
    text-align: center;
    font-weight: 200;
}

.map {
    min-height: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080925;
}

.social {
    margin-right: 3%;
}

.small-icons {
    margin-left: 40px;
}

.copyright-container > * {
    display: inline;
}

.copyright-container {
    margin-left: 3%;
}

.copyright {
    color: #CACACF;
    font-family: "Lato";
    font-size: 10px;
}

.creators {
    color: #7B3E83;
}